
<div class="color-swatches">
    {% for variant in product.variants %}
      {% assign swatch_image = variant.metafields.custom.img %}
      <div class="swatch" data-variant-id="{{ variant.id }}">
        {% if swatch_image %}
          <img src="{{ swatch_image | img_url: '100x100' }}" alt="{{ variant.title }} Swatch">
        {% else %}
          <img src="{{ 'default-swatch.jpg' | asset_url }}" alt="Default Swatch">
        {% endif %}
        <p>{{ variant.title }}</p>
      </div>
    {% endfor %}
  </div>
  
  <select form="{{ product_form_id }}" name="id" id="productSelect">
    {% for variant in product.variants %}
      <option value="{{ variant.id }}">{{ variant.title }}</option>
    {% endfor %}
  </select>
  
  <script type="application/json">
    {{ product.variants | json }}
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
        const swatches = document.querySelectorAll('.swatch');
      
        swatches.forEach(function(swatch) {
          swatch.addEventListener('click', function() {
            const variantId = swatch.dataset.variantId;
      
            // Update the selected variant input
            const variantSelect = document.querySelector('select[name="id"]');
            if (variantSelect) {
              variantSelect.value = "test";
              // Dispatch change event for variant select
              const event = new Event('change');
              variantSelect.dispatchEvent(event);
            }
          });
        });
      });
      
      

    
       
  </script>